*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #000;
    color: rgba(255, 255, 255, 0.76);
    text-align: center;
    padding: 50px;
}

header h1{
    color: #fff;
    padding-bottom: 10px;
    font-weight: 900;
}

a{
    color: #fffffff5;
    text-decoration: none;
    font-weight: 600;
}

a:hover{
    text-decoration: underline;
}

.padrao{
    font-family: sans-serif;
    font-weight: 600;
    padding: 60px 0 60px 20px;
    line-height: 40px;
}

.img1{
    background: url(imagens/background001.jpg) center center fixed no-repeat;
    background-size: cover;
    color: #fff;
    padding: 60px 0 60px 20px;
    line-height: 40px;
    box-shadow: inset 0px -1px 6px #0000007c;
}

.txtimg{
    background-color: #00000069;
    width: fit-content;
    padding: 5px
}

.img2{
    background: url(imagens/background002.jpg) center center fixed no-repeat;
    background-size: cover;
    color: #fff;
    padding: 60px 0 60px 20px;
    line-height: 40px;
    box-shadow: inset 0px -1px 6px #0000007c;
}

footer{
    background-color: #000;
    color: #ffffffce;
    text-align: center;
    padding: 5px;
}